small_margin = 10px

body
  font-family: arial

div.main
  width: 1208px
  margin-left: auto
  margin-right: auto

div.article
  min-width: 728px
  float: left

div.side1
  min-width: 300px
  float: left
  margin-left: small_margin

div.side2
  min-width: 120px
  float: left
  margin-left: small_margin

div.cb
  clear: both

div.placement.placement-728x90
  width: 728px
  height: 90px
  background: #f3f3f3
  color: #ccc

div.placement.placement-300x250
  width: 300px
  height: 250px
  background: #f3f3f3
  color: #ccc

div.placement.placement-120x600
  width: 120px
  height: 600px
  background: #f3f3f3
  color: #ccc

div.placement.placement-160x600
  width: 160px
  height: 600px
  background: #f3f3f3
  color: #ccc

div.small-block
  height: small_margin

